<html>
<head>
    <title>Criminal Profile</title>
    <link rel="stylesheet" href="static/css/criminal.css">
</head>
<body>
    <h1>Criminal Profile</h1>
    <form method="POST" action="/criminal">
        <label for="crime">Crime Committed</label>
        <input type="text" id="crime" name="crime" required><br><br>
        <label for="casestat">Case Status</label>
        <input type="text" id="casestat" name="casestat" required><br><br>
        <label for="arrestingoffice">Arresting Office/Officer</label>
        <input type="text" id="arrestingoffice" name="arrestingoffice" required><br><br>
        <input type="submit" value="Next">

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>