<html>
<head>
    <title>Educational Achievement</title>
    <link rel="stylesheet" href="static/css/education.css">
</head>
<body>
    <h1>Educational Achievement</h1>
    <form method="POST" action="/education">
        <label for="degree">Degree</label>
        <input type="text" id="degree" name="degree" required><br><br>
        <label for="grade">Grade</label>
        <input type="text" id="grade" name="grade" required><br><br>
        <input type="submit" value="Next">
    </form>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>