<html>
<head>
    <title>Family Information</title>
    <link rel="stylesheet" href="static/css/family.css">
</head>
<body>
    <h1>Personal Information</h1>
    <form method="POST" action="/family">
        <label for="father_name">Father's Name</label>
        <input type="text" id="father_name" name="father_name" required><br><br>
        <label for="father_phone">Father's contact</label>
        <input type="text" id="father_phone" name="father_phone" required><br><br>
        <label for="mother_name">Mother's Name</label>
        <input type="text" id="mother_name" name="mother_name" required><br><br>
        <label for="mother_phone">Mother's Contact</label>
        <input type="text" id="mother_phone" name="mother_phone" required><br><br>
        <input type="submit" value="Next">
    </form>


    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>