<html>
<head>
    <title>Government Entity Information</title>
    <link rel="stylesheet" href="static/css/govtinfo.css">
</head>
<body>
    <h1>Government Entity Information</h1>
        <form method="POST" action="/govtinfo">
            <label for="tinnumber">Tin Number</label>
            <input type="text" id="tinnumber" name="tinnumber" required><br><br>
            <label for="driverlic">Driver's License</label>
            <input type="text" id="driverlic" name="driverlic" required><br><br>
            <label for="voterid">Voter ID</label>
            <input type="text" id="voterid" name="voterid" required><br><br>
            <button type="submit">Submit</button>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>