<!doctype html>
<html>
  <head>
    <title>Identity Registration</title>
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <h1>Demo Registration</h1>

    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
    <form method="POST" action="/">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br><br>
      <label for="birthdate">Date of Birth:</label>
      <input type="date" id="birthdate" name="birthdate" required><br><br>
      <label for="phone_number">Phone Number:</label>
      <input type="tel" id="phone_number" name="phone_number" required><br><br>
      <label for="zip_code">Zip Code:</label>
      <input type="number" id="zip_code" name="zip_code" required><br><br>
      <input type="submit" value="Submit">
    </form>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
  </body>
</html>
