<html>
<head>
    <title>Medical Record</title>
    <link rel="stylesheet" href="static/css/medical.css">
</head>
<body>
    <h1>Medical Record</h1>
    <form method="POST" action="/medical">
        <label for="disease">Disease</label>
        <input type="text" id="disease" name="disease" required><br><br>
        <label for="medicine">Medicine</label>
        <input type="text" id="medicine" name="medicine" required><br><br>
        <input type="submit" value="Next">

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>


</html>