<html>
<head>
    <title>Migration History</title>
    <link rel="stylesheet" href="static/css/migration.css">
</head>
<body>
    <h1>Migration History</h1>
    <form method="POST" action="/migration">
        <label for='placeofbirth'>Place of Birth</label>
        <input type="text" id="placeofbirth" name="placeofbirth" required><br><br>
        <label for="permaddress">Permanent Address</label>
        <input type="text" id="permaddress" name="permaddress" required><br><br>
        <label for="curraddress">Current Address</label>
        <input type="text" id="curraddress" name="curraddress" required><br><br>
        <label for="prevaddress">Previous Address</label>
        <input type="text" id="prevaddress" name="prevaddress" required><br><br>
        <label for="placeofwork">Place of Work</label>
        <input type="text" id="placeofwork" name="placeofwork" required><br><br>
        <input type="submit" value="Next">
    </form>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>