<html>
<head>
    <title>Professional Experience</title>
    <link rel="stylesheet" href="static/css/profession.css">
</head>
<body>
    <h1>Professional Experience</h1>
    <form method="POST" action="/profession">
        <label for="company">Company Name</label>
        <input type="text" id="company" name="company" required><br><br>
        <label for="position">Position</label>
        <input type="text" id="position" name="position" required><br><br>
        <input type="submit" value="Next">
    </form>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>