<html>
<head>
    <title>Service Request</title>
    <link rel="stylesheet" href="static/css/service_request.css">
</head>
<body>
    <h1>Service Request</h1>
    <form method="POST" action="/">
        <label for="shareable_address">Shareable Address</label>
        <input type="text" id="shareable_address" name="shareable_address" required><br><br>
        <button type="submit">Request Service</button>
    </form>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>