<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="static/css/success.css">
</head>
<body>
    <h1>Congratulations!</h1>
    <p>Your profile has been successfully created.</p>
    <p>Your identifier is: <a href="{{ identifier }}">{{ identifier }}</a></p>
    <p>Your shareable address is: <a href="{{ shareable_address }}">{{ shareable_address }}</a></p>

    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>
