<html>
<head>
    <title>Verify Shareable Address</title>
    <link rel="stylesheet" href="static/css/verify_saddress.css">
</head>
<body>
    <h1>Verify Shareable Address</h1>
    <form method="POST" action="/">
        <label for="shareable_address">Shareable Address</label>
        <input type="text" id="shareable_address" name="shareable_address" required><br><br>
        <button type="submit">Submit</button>
    </form>
    <p></p>
    <p></p>
    <p>This portal is developed as an experiment to implement a newly conceptualized Blockchain model for an identification system</p>
</body>
</html>